{% extends 'base.html.twig' %}

{% block title %}KPI bearbeiten - KPI Tracker{% endblock %}

{% block page_title %}KPI bearbeiten{% endblock %}

{% block page_actions %}
    <a href="{{ path('app_admin_kpis') }}" class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-arrow-left"></i> Zur\xC3\xBCck zu KPIs
    </a>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><i class="bi bi-pencil"></i> KPI bearbeiten</h5>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.user) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.interval) }}</div>
                    <div class="col-md-6">{{ form_row(form.unit) }}</div>
                </div>
                {{ form_row(form.target) }}
                <div class="d-flex justify-content-between mt-3">
                    <a href="{{ path('app_admin_kpis') }}" class="btn btn-outline-secondary">
                        <i class="bi bi-x-circle"></i> Abbrechen
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Speichern
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
