{% extends 'base.html.twig' %}

{% block title %}Benutzer bearbeiten - KPI Tracker{% endblock %}

{% block page_title %}Benutzer bearbeiten{% endblock %}

{% block page_actions %}
    <a href="{{ path('app_admin_users') }}" class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-arrow-left"></i> Zurück
    </a>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><i class="bi bi-pencil"></i> Benutzer bearbeiten</h5>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                </div>
                {{ form_row(form.roles) }}
                {{ form_row(form.plainPassword) }}
                <div class="d-flex justify-content-between mt-3">
                    <a href="{{ path('app_admin_users') }}" class="btn btn-outline-secondary">
                        <i class="bi bi-x-circle"></i> Abbrechen
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Speichern
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
